.about {
    background-image: url("/assets/images/background_about.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 0 0 164px;

    @media screen and (max-width: 651px) {
        padding: 64px 16px 0;
    }

    @media (min-width: 651px) and (max-width: 1111px) {
        padding: 132px 37px 0 32px;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__details {
        padding-top: 95px;

        &__title {
            height: 60px;
            overflow: hidden;
        }

        @media screen and (max-width: 651px) {
            padding-top: 0;
        }

        @media (min-width: 651px) and (max-width: 1111px) {
            padding-top: 0;
        }

        p {
            max-width: 669px;
            color: var(--link-btn-color);
            font-size: clamp(16px, 2vw, 20px);
            font-weight: 400;
            line-height: clamp(21px, 2vw, 27px);
            letter-spacing: 0.01em;
        }

        p:nth-child(3) {
            margin-bottom: 12px;
        }
    }

    &__person-container {
        position: relative;

        .about__person {

            &--front {
                position: absolute;
                top: 0;
            }

            @media screen and (max-width: 651px) {
                width: 100%;
                height: 100%;
            }

            @media (min-width: 651px) and (max-width: 1111px) {
                width: 486px;
                height: 643px;
            }
        }
    }


    &__link {
        font-size: clamp(20px, 2vw, 28px);
        line-height: clamp(20px, 2vw, 28px);
        font-weight: 800;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid var(--link-btn-color);
        padding: 20px 92px;
        display: inline-block;
        margin-top: 60px;
        color: var(--link-btn-color);

        &:hover {
            background-color: var(--link-btn-color);
            color: var(--main-text-color);
            transition: all 0.3s ease-in-out;
        }

        @media screen and (max-width: 651px) {
            white-space: nowrap;
            padding: 16px 0;
            width: 100%;
            margin-top: 23px;
        }
    }
}

.title--about {
    margin-bottom: 28px;
    color: var(--link-btn-color);

    @media screen and (max-width: 651px) {
        margin-bottom: 20px;
    }
}