.booking {
    background-image: url("/assets/images/book_session_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__work {
        @media screen and (min-width: 2000px) {
            display: flex;
            gap: 107px;
            justify-content: center;
        }
    }

    &__work-img {
        position: absolute;
        left: -81px;
        top: -63px;

        @media screen and (max-width: 651px) {
            top: -44px;
            width: 379px;
            height: 370px;
        }

        @media (min-width: 651px) and (max-width: 1111px) {
            top: -63px;
            width: 480px;
            height: 530px;
        }

        @media screen and (min-width: 2000px) {
            position: relative;
            left: 0;
        }
    }

    &__steps {
        padding: 54px 55px 0 721px;

        @media screen and (max-width: 651px) {
            padding: 358px 16px 0;
        }

        @media (min-width: 651px) and (max-width: 1111px) {
            padding: 500px 32px 0;
        }

        @media screen and (min-width: 2000px) {
            padding: 54px 0 0;
        }
    }

    &__list {
        padding-left: 0;

        li {
            position: relative;
            padding-left: 34px;
            margin-bottom: 15px;
            font-size: clamp(16px, 4vw, 24px);
            font-weight: 400;
            line-height: clamp(21px, 4vw, 32px);
            letter-spacing: 0.01em;
            list-style: none;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 13px;
                height: 13px;
                rotate: 45deg;
                background-color: var(--main-text-color);
            }
        }

        @media screen and (max-width: 651px) {

            li {
                padding-left: 24px;
                margin-bottom: 8px;

                &::before {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    &__design {
        margin-top: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media screen and (max-width: 651px) {
            margin-top: 80px;
            padding: 0 16px;
        }

        &__steps {
            display: flex;
            gap: 93px;
            margin-bottom: 72px;
            flex-wrap: wrap;

            @media screen and (max-width: 651px) {
                gap: 36px;
                margin-bottom: 36px;

                h3 {
                    margin-bottom: 12px;
                }

                h4 {
                    margin-bottom: 8px;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    max-width: 440px;
                }
            }

            @media (min-width: 651px) and (max-width: 1111px) {
                justify-content: center;
            }

            h3 {
                font-size: clamp(44px, 4vw, 68px);
                font-weight: 900;
                line-height: clamp(48.4px, 4vw, 74.8px);
                letter-spacing: 0.01em;
                color: var(--added-color);
                margin-bottom: 16px;
            }

            h4 {
                font-size: clamp(24px, 4vw, 28px);
                font-weight: 700;
                line-height: clamp(28.8px, 4vw, 33.6px);
                letter-spacing: 0.01em;
                max-width: 419px;
                margin-bottom: 12px;
            }

            p {
                font-size: clamp(16px, 4vw, 20px);
                line-height: clamp(21.6px, 4vw, 27px);
                font-weight: 400;
                letter-spacing: 0.01em;
                max-width: 440px;
            }
        }

        &__angle {
            position: absolute;
            z-index: 1;

            &--top-left {
                top: -60px;
                left: 164px;
            }

            &--top-right {
                top: -60px;
                right: 164px;
            }

            &--bottom-left {
                bottom: 60px;
                left: 164px;
            }

            &--bottom-right {
                bottom: 60px;
                right: 164px;
            }

            @media screen and (max-width: 651px) {

                &--top-left,
                &--top-right {
                    top: -25px;
                    width: 60px;
                    height: 60px;
                }

                &--top-left {
                    left: 16px;
                }

                &--top-right {
                    right: 16px;
                }

                &--bottom-left,
                &--bottom-right {
                    display: none;
                }
            }

            @media (min-width: 651px) and (max-width: 1111px) {

                &--top-left,
                &--top-right {
                    top: -35px;
                    width: 80px;
                    height: 80px;
                }

                &--bottom-left,
                &--bottom-right {
                    bottom: 90px;
                    width: 80px;
                    height: 80px;
                }

                &--top-left {
                    left: 32px;
                }

                &--top-right {
                    right: 32px;
                }

                &--bottom-left {
                    left: 32px;
                }

                &--bottom-right {
                    right: 32px;
                }
            }
        }
    }
}



.title--booking {
    max-width: 400px;
    margin-bottom: 60px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 391px;
        height: 12px;
        background-color: var(--assent-color);
        left: 0;
        bottom: -22px;
    }

    @media screen and (max-width: 651px) {
        max-width: 265px;
        margin-bottom: 44px;

        &::after {
            width: 247px;
            height: 8px;
            bottom: -18px;
        }
    }
}

.common__link--booking {
    padding: 20px 40px;
    margin-top: 40px;

    @media screen and (max-width: 651px) {
        margin-top: 28px;
        padding: 16px 0;
    }
}

.title--design {
    max-width: 629px;
    margin-bottom: 76px;

    @media screen and (max-width: 651px) {
        max-width: 307px;
        margin-bottom: 40px;
        text-align: center;
    }

    @media (min-width: 651px) and (max-width: 1111px) {
        max-width: 507px;
        text-align: center;
    }
}

.common__link--design {
    margin-top: 20px;
    margin-bottom: 155px;

    @media screen and (max-width: 651px) {
        margin-top: 12px;
        margin-bottom: 80px;
    }
}