.faq {
    background-color: var(--faq-color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px 132px;

    @media screen and (max-width: 651px) {
        padding: 64px 16px 80px;
    }

    &__item {
        width: 888px;
        border-bottom: 2px solid var(--link-btn-color);
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            width: 100%;

            h4 {
                font-size: clamp(24px, 2vw, 28px);
                font-weight: 700;
                line-height: clamp(28.8px, 2vw, 30.8px);
                letter-spacing: 0.01em;
                color: var(--link-btn-color);
                text-transform: uppercase;
                text-align: start;
            }
        }

        &____body.open {
            max-height: 500px;
        }

        &__body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;

            &__steps {
                margin: 12px 0;
            }

            &__text--last {
                margin-bottom: 40px;
            }

            &__list,
            ol {
                padding-left: 26px;
            }

            &__list {
                margin: 8px 0 12px;

                &:last-child {
                    margin-bottom: 40px;
                }
            }

            &--flex {
                display: flex;
                flex-direction: column;
                gap: 12px
            }
        }

        p,
        li {
            font-size: clamp(14px, 2vw, 20px);
            font-weight: 400;
            line-height: 27px;
            line-height: clamp(19px, 2vw, 27px);
            letter-spacing: 0.01em;
            color: var(--link-btn-color);
            max-width: 772px;
        }

        @media screen and (max-width: 651px) {
            width: 100%;
            margin-bottom: 28px;

            &:last-child {
                margin-bottom: 0;
            }

            &__header {
                margin-bottom: 8px;
            }

            h4 {
                max-width: 289px;
            }

            p {
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        @media (min-width: 651px) and (max-width: 1111px) {
            width: 100%;
            margin-bottom: 28px;
        }
    }

    &__toggle img {
        transition: transform 0.3s ease-in-out;
    }

    &__toggle img.rotated {
        transform: rotate(45deg);
    }
}

.spaced {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title--faq {
    color: var(--link-btn-color);
    margin-bottom: 68px;

    @media screen and (max-width: 651px) {
        margin-bottom: 36px;
    }
}