@font-face {
    font-family: "Hatsch Sans";
    src: url("assets/fonts/hatschsanspersonaluseonlyregular-pkezg.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Long Shot";
    src: url("assets/fonts/Long_Shot.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}