.footer {
    background-image: url("/assets/images/background_footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 93px;

    &__creators {
        display: flex;
        flex-direction: column;
        gap: 9px;
        align-items: center;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: center;
            text-decoration: underline;
        }
    }
}

.title--footer {
    margin-bottom: 56px;
    text-align: center;

    span {
        display: block;
    }
}

.footer__links {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 60px 0;
}

@media screen and (max-width: 651px) {
    .footer {
        padding: 64px 16px 42px;
    }

    .title--footer {
        margin-bottom: 24px;
    }

    .footer__links {
        margin: 32px 0;
    }
}