* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background: var(--background);
}

img {
    display: block;
}

button {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 32px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--faq-color-bg);
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--added-color);
}