* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background: var(--background);
}

img {
    display: block;
}

button {
    cursor: pointer;
}