.loading {
    background-color: var(--assent-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 0%;
    z-index: 1000; 
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.menu {
    position: absolute;
    z-index: 9;

    li {
        list-style: none;
    }

    &--left {
        display: flex;
        flex-direction: column;
        top: 128px;
        left: 34px;
    }

    &--right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        right: 8px;
        top: 194px;
    }

    @media screen and (max-width: 651px) {
        &--left {
            display: none;
        }

        &--right {
            right: 25px;
            top: 540px;
        }
    }
}

.menu__button {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.01em;
    transform: rotate(270deg);
    white-space: nowrap;
    transform-origin: left bottom;
    position: absolute;
    font-family: 'Roboto', sans-serif;

    &:hover {
        color: var(--assent-bright-color);
        transition: all 0.3s ease;
    }

    &--project {
        top: 335px;
    }

    &--me {
        top: 228px;
    }

    &--session {
        top: 135px;
    }
}

.menu__link {
    width: 36px;
    height: 36px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    &--inst {
        background-image: url("/assets/icons/Inst.svg");

        &:hover {
            background-image: url("/assets/icons/Inst_hover.svg");
        }
    }

    &--watsapp {
        background-image: url("/assets/icons/Watsapp.svg");

        &:hover {
            background-image: url("/assets/icons/Watsapp_hover.svg");
        }
    }

    &--tg {
        background-image: url("/assets/icons/Tg.svg");

        &:hover {
            background-image: url("/assets/icons/Tg_hover.svg");
        }
    }
}