.loading {
    background-color: var(--assent-bright-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 0%;
    z-index: 1000;
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.menu {
    position: fixed;
    z-index: 7;

    li {
        list-style: none;
    }

    &--left {
        display: flex;
        flex-direction: column;
        top: 128px;
        left: 34px;
    }

    &--right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        right: 8px;
        top: 194px;
    }

    @media screen and (max-width: 1111px) {
        position: absolute;

        &--left {
            display: none;
        }

        &--right {
            display: none;
        }
    }

    @media screen and (min-width: 3000px) {
        &--left {
            top: 128px;
            left: 27%;
        }

        &--right {
            right: 26%;
            top: 194px;
        }
    }
}

.menu__button {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.01em;
    transform: rotate(270deg);
    white-space: nowrap;
    transform-origin: left bottom;
    position: absolute;
    font-family: 'Roboto', sans-serif;

    &:hover {
        color: var(--assent-bright-color);
        transition: all 0.3s ease;
    }

    &--project {
        top: 335px;
    }

    &--me {
        top: 228px;
    }

    &--session {
        top: 135px;
    }

    &--faq {
        top: 21px;
    }
}

.menu__button.scrolled {
    color: var(--assent-bright-color);

    &:hover {
        color: var(--main-text-color);
    }
}

.menu__link {
    width: 36px;
    height: 36px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    &--inst {
        background-image: url("/assets/icons/Inst.svg");

        &:hover {
            background-image: url("/assets/icons/Inst_hover.svg");
        }
    }

    &--watsapp {
        background-image: url("/assets/icons/Watsapp.svg");

        &:hover {
            background-image: url("/assets/icons/Watsapp_hover.svg");
        }
    }

    &--tg {
        background-image: url("/assets/icons/Tg.svg");

        &:hover {
            background-image: url("/assets/icons/Tg_hover.svg");
        }
    }
}

.menu__link.scrolled.menu__link--inst {
    background-image: url("/assets/icons/Inst_hover.svg");

    &:hover {
        background-image: url("/assets/icons/Inst.svg");
    }
}

.menu__link.scrolled.menu__link--watsapp {
    background-image: url("/assets/icons/Watsapp_hover.svg");

    &:hover {
        background-image: url("/assets/icons/Watsapp.svg");
    }
}

.menu__link.scrolled.menu__link--tg {
    background-image: url("/assets/icons/Tg_hover.svg");

    &:hover {
        background-image: url("/assets/icons/Tg.svg");
    }
}

.menu__link--scroll-top {
    display: none;
    position: fixed;
    top: 132px;
    right: 10px;
    background-image: url("/assets/icons/toTop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 56px;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        background-image: url("/assets/icons/toTop_hover.svg");
    }

    @media screen and (max-width: 651px) {
        display: none;
    }
}

.menu__link--scroll-top.visible {
    display: block;
    opacity: 1;
}

.menu__link--scroll-top.scrolled {
    background-image: url("/assets/icons/toTop_hover.svg");
}

.menu__link--scroll-top.scrolled:hover {
    background-image: url("/assets/icons/toTop.svg");
}




.mobile-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    position: relative;
}


.menu-icon div {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.mobile-menu-button.active .menu-icon div:nth-child(1) {
    transform: rotate(45deg) translate(7px, 6px);
    z-index: 10;
}

.mobile-menu-button.active .menu-icon div:nth-child(2) {
    opacity: 0;
}

.mobile-menu-button.active .menu-icon div:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -8px);
    z-index: 10;
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #110101;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transition: 0.3s ease;
    padding: 0 16px;

    &__logo {
        width: 84px;
        height: 132px;
        margin-bottom: 52px;
    }

    &__socials {
        display: flex;
        list-style: none;
        gap: 8px;
        margin-top: 28px;
    }
}

.mobile-menu.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.mobile-menu__links {
    list-style: none;
    text-align: center;
    padding: 0;
}

.mobile-menu__links li {
    margin-bottom: 28px;

    &:last-child {
        margin-bottom: 34px;
    }
}

.mobile-menu__links li a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
    line-height: 42.19px;
    letter-spacing: 0.01em;
    text-align: center;
}


@media (max-width: 1111px) {
    .mobile-menu-button {
        display: block;
    }
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #110101;
    padding: 12px 15px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    transition: background-color 0.3s ease;
    display: none;


    .mobile-header__logo {
        width: 32px;
        height: 32px;
        margin-left: 74px;
    }

    .mobile-header__socials {
        display: flex;
        list-style: none;
        gap: 8px;

        .menu__link {
            width: 30px;
            height: 30px;
        }
    }
}

.mobile-menu-container.menu-open {
    z-index: 9999;
}

@media (max-width: 1111px) {
    .mobile-menu-container {
        display: flex;
    }
}