.presentation {
    background-image: url("/assets/images/background_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &__person {
        width: 439px;
        height: 553px;
    }

    .presentation__glitches {
        position: relative;
        display: inline-block;
        width: 100%;

        &--first {
            top: 129px;
        }

        &--second {
            top: 360px;
            left: 194px;
        }

        &--third {
            top: 472px;
        }

        &--fourth {
            top: 540px;
        }

        .presentation__glitch {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            mix-blend-mode: soft-light;
        }

        &--first::before,
        &--first::after {
            background: url('assets/images/glitches/glitch_1.png') no-repeat center/cover;
            animation: rgb-split-1 1s infinite;
        }

        &--second::before,
        &--second::after {
            background: url('assets/images/glitches/glitch_2.png') no-repeat center/cover;
            animation: rgb-split-2 1.2s infinite;
        }

        &--third::before,
        &--third::after {
            background: url('assets/images/glitches/glitch_3.png') no-repeat center/cover;
            animation: rgb-split-3 1.4s infinite;
        }

        &--fourth::before,
        &--fourth::after {
            background: url('assets/images/glitches/glitch_4.png') no-repeat center/cover;
            animation: rgb-split-4 1.4s infinite;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            mix-blend-mode: soft-light;
            height: 10px;
        }

        &--first::before {
            transform: translate(2px, 0);
            filter: drop-shadow(0 0 5px red);
        }

        &--first::after {
            transform: translate(-2px, 0);
            filter: drop-shadow(0 0 5px blue);
        }

        &--second::before {
            transform: translate(3px, 0);
            filter: drop-shadow(0 0 5px green);
        }

        &--second::after {
            transform: translate(-3px, 0);
            filter: drop-shadow(0 0 5px yellow);
        }

        &--third::before {
            transform: translate(4px, 0);
            filter: drop-shadow(0 0 5px purple);
        }

        &--third::after {
            transform: translate(-4px, 0);
            filter: drop-shadow(0 0 5px orange);
        }

        &--fourth::before {
            transform: translate(5px, 0);
            filter: drop-shadow(0 0 5px pink);
        }

        &--fourth::after {
            transform: translate(-5px, 0);
            filter: drop-shadow(0 0 5px cyan);
        }
    }

    &__logo {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 651px) {
            width: 29px;
            height: 48px;
        }
    }

    &__details {
        display: flex;
        justify-content: center;
        gap: 42px;
        margin-top: 70px;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 651px) {
            gap: 13px;
            padding: 0 16px 0 16px;
        }
    }

    &__name {
        padding-top: 60px;

        &__title {
            font-family: 'Long Shot', sans-serif;
            font-size: clamp(87px, 13vw, 174px);
            font-weight: 400;
            line-height: clamp(103px, 14vw, 208.8px);
            text-transform: uppercase;
            max-height: 147px;
            text-align: center;
            white-space: nowrap;
        }

        &__details {
            display: flex;
            justify-content: space-between;
            margin-top: 28px;
            height: 23px;
            overflow: hidden;

            p {
                font-weight: 400;
                letter-spacing: 0.01em;
                font-size: clamp(12px, 3vw, 20px);
                line-height: clamp(14px, 3vw, 23px);
            }
        }

        @media screen and (max-width: 651px) {
            padding-top: 36px;
            width: 100%;

            &__details {
                margin-top: -6px;
            }
        }
    }

    &__tags {
        padding: 16px 0 13px;
        background-color: var(--link-btn-color);
        width: 100%;
        overflow: hidden;
        display: flex;

        .tag-wrap {
            display: flex;
            white-space: nowrap;
            transform: translateX(0);

            p {
                font-family: 'Long Shot', sans-serif;
                font-size: clamp(20px, 2vw, 34px);
                line-height: clamp(22px, 2vw, 37px);
                font-weight: 400;
                letter-spacing: 0.01em;
                color: var(--added-color);
                text-transform: uppercase;
                position: relative;
                margin-right: 58px;

                &::after {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    background-color: var(--added-color);
                    right: -35px;
                    rotate: 45deg;
                    top: 4px;
                }

                @media screen and (max-width: 651px) {
                    &::after {
                        height: 8px;
                        width: 8px;
                        top: 5px;
                        right: -21px;
                    }
                }
            }
        }
    }

    &__photo {
        overflow: hidden;
        height: 156px;

        @media screen and (max-width: 651px) {
            height: 101px;
        }
    }

    &__person {

        @media screen and (max-width: 651px) {
            width: 273px;
            height: 350px;
        }
    }
}

.common__link {
    background-color: var(--link-btn-color);
    text-transform: uppercase;
    font-size: clamp(20px, 2vw, 28px);
    line-height: clamp(20px, 2vw, 28px);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    padding: 20px 92px;
    border: 2px solid #FFF6F6;
    display: inline-block;
    white-space: nowrap;

    &:hover {
        background-color: var(--main-text-color);
        color: var(--link-btn-color);
        transition: all 0.3s ease-in-out;
    }

    &--presentation {
        margin-top: 80px;
    }

    @media screen and (max-width: 651px) {
        padding: 16px 0;
        width: 100%;
        text-align: center;

        &--presentation {
            margin-top: 30px;
        }
    }
}

@keyframes rgb-split-1 {

    0%,
    100% {
        transform: translate(3px, 3px);
    }

    50% {
        transform: translate(10px, 3px);
    }
}

@keyframes rgb-split-2 {

    0%,
    100% {
        transform: translate(0px, 1px);
    }

    50% {
        transform: translate(2px, 2px);
    }
}

@keyframes rgb-split-4 {

    0%,
    100% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(5px, 5px);
    }
}