.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.preloading {
    background-color: var(--assent-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .preloading__logo {
        width: 84px;
        height: 132px;
    }
}