:root {
    --main-text-color: #FFFFFF;
    --assent-color: #5F0909;
    --assent-bright-color: #BF172B;
    --background: #050000;
    --link-btn-color: #110101;
    --added-color: #8F8585;
    --bg-color-light: #FFF6F6;
    
}